body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(7, 1fr);
  gap: 10px;
  height:100vh;
  /* grid-template-areas:  "header header" 
                        "left contenido" 
                        "footer footer"; */
}


/* 
.header{
grid-area: header;
}
.left{
    grid-area: left;
}

.contenido{
    grid-area:contenido;
}

.footer{
    grid-area:footer;
}
*/
.items {
  background-color: #5d9dfd;
  padding: 10px;
  border: 1px solid red;
} 

.items:nth-of-type(1) {
  overflow: auto;
  grid-column: 1/span 6;
}
.items:nth-of-type(2) {
    overflow: auto;
    grid-row: auto/span 4;
    grid-column: auto/-1;
  }
  
.items:nth-of-type(3) {
    overflow: auto;
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }

  .items:nth-of-type(4) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }

  .items:nth-of-type(5) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }

  .items:nth-of-type(6) {
    grid-column: auto/span 6;
  }
  .items:nth-of-type(7) {
    grid-column: 1/-1;
  }
 